<div class="container">
    <input type="checkbox" id="btn-mas">
    <div class="btn-mas">
        <label for="btn-mas" class="icon-mas2"><img class="icon-socialmedia1" src="./assets/social-media/share.png"></label>
    </div>
    <div class="redes">
        <a href="#" class="icon-mas3"><img class="icon-socialmedia facebook" src="./assets/social-media/facebook.png"></a>
        <a href="#" class="icon-mas3"><img class="icon-socialmedia instagram" src="./assets/social-media/instagram.png"></a>
        <a href="#" class="icon-mas3"><img class="icon-socialmedia twitterx" src="./assets/social-media/twitterx.png"></a>
        <a href="#" class="icon-mas3"><img class="icon-socialmedia whatsapp" src="./assets/social-media/whatsapp.png"></a>
    </div>


</div>
