.container_title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  font-style: normal;
  font-style: italic;
  font-style: oblique;
}

.container_post{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.form_post {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.input_post {
    width: 100%;
}


.alert_error {
  min-width: 130px;
  max-width: 480px;
  width: 100%;
  background-color: rgb(255, 108, 82);
  border-radius: 20px;
  padding: 10px;
  margin: 30px 0px 20px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.alert_success {
  min-width: 130px;
  max-width: 480px;
  width: 100%;
  background-color: rgb(149, 255, 173);
  border-radius: 20px;
  padding: 10px;
  margin: 30px 0px 20px 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon_close {
  background-color: none;
  border: none;
}

mat-card {
  height: 340px;
  img {
      width: auto;
      height: 300px;
      padding: 20px;
      object-fit: contain;

  }
}

.content-pdf{
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid #000;
}

.move-pdf{
  width: 15%;
  height: auto;
  display: grid;
  background-color: grey;

}

.pdf{
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.delete-pdf{
  width: 15%;
  height: auto;
  display: block;
  background-color: grey;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

