
<div  class="container_title" id="top"> 
    <h2 *ngIf="!getparamid" class="title">Crear Asociación</h2>
    <h2 *ngIf="getparamid" class="title">Editar Asociación</h2>
  </div> 
  <app-scroll-to-top></app-scroll-to-top>
  <div class="container_post">
      <form class="form_post" [formGroup]="AsocForm">
        <!--return botton-->
        <mat-icon style="float: left; padding-bottom: 20px;" routerLink="/wp_admin/asociaciones" aria-hidden="false">keyboard_return</mat-icon>    
        <!-- show error -->
        <div *ngIf="errormsg" class="alert_error" role="alert">
          <strong>{{errormsg}}</strong>
        </div>
        <!-- show success -->
        <div *ngIf="successmsg" class="alert_success" role="alert">
          <strong>{{successmsg}}</strong>
        </div>
  
  
          <mat-form-field class="input_post">
              <mat-label>Titulo</mat-label>
              <input type="text" matInput [formControl]="titleFormControl" placeholder="Ej. Ejemplo 2023">
              @if (titleFormControl.hasError('required')) {
                <mat-error>El título de la asociación es <strong>requerido</strong></mat-error>
              }
          </mat-form-field>
  
          <mat-form-field class="input_post">
              <mat-label>Descripcion</mat-label>
              <textarea type="text" matInput [formControl]="descriptionFormControl" placeholder="Ex. Esta semana santa..."></textarea>
              @if (descriptionFormControl.hasError('required')) {
                <mat-error>La descripción de este asociación es <strong>requerida</strong></mat-error>
              }
          </mat-form-field>

          <mat-form-field class="input_post">
            <mat-label>Localizacion</mat-label>
            <input type="text" matInput [formControl]="locationFormGroup" placeholder="Ej. Paseo del rollo, Ledesma">
            @if (locationFormGroup.hasError('required')) {
              <mat-error>La localización de la asociación es <strong>requerida</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="input_post">
            <mat-label>Informacion de contacto</mat-label>
            <input type="text" matInput [formControl]="contactinfFormGroup" placeholder="Ej. Paseo del rollo, Ledesma">
            @if (contactinfFormGroup.hasError('required')) {
              <mat-error>La información de contacto del asociación es <strong>requerida</strong></mat-error>
            }
        </mat-form-field>
  
          <mat-form-field class="input_post">
            <mat-label>Imagen</mat-label>
            <ngx-mat-file-input type="file" (change)="selectImage($event)" #imageInput [formControl]="imageFormControl" placeholder="Ex. image.png" [accept]="'image/png, image/jpeg, image/jpg'"></ngx-mat-file-input>
            <div style="margin-right: 10px;" mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="imageInput.clear($event)">
              <mat-icon >clear</mat-icon>
            </div>
            <div style="margin-right: 10px;" mat-icon-button matSuffix *ngIf="imageInput.empty">
              <mat-icon >folder</mat-icon>
            </div>
            @if (imageFormControl.hasError('required')) {
              <mat-error>La imagen de esta asociación es <strong>requerida</strong></mat-error>
            }
           
        </mat-form-field>
  
        <mat-card>
            <img [src]="imgURL" [alt]="imgURL">
        </mat-card> 
  
          &nbsp;
          <div class="button_post" *ngIf="!getparamid" (click)="postSubmit()">
              <button mat-raised-button color="primary" routerLink="." type="reset">Crear</button>
          </div>
          <div class="button_post" *ngIf="getparamid" (click)="postUpdate()">
            <button mat-raised-button color="primary" routerLink=".">Editar</button>
          </div>
  
      </form>
  </div>
