<div class="container" >
      <!-- Google Map -->
      <div class="block1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7361.631633828458!2d-6.004816686794499!3d41.089296571146434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3ecb7144bb96a7%3A0xa51d83aae9e6263a!2sAyuntamiento%20de%20Ledesma!5e0!3m2!1ses!2ses!4v1716801003280!5m2!1ses!2ses" class="block1__map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  
      <!-- Contact Content -->
      <div class="block2">
              <div>
                      <header>
                            <h2 style="font-style: italic;">
                              <strong>Contactos de Oficina Municipal</strong>
                            </h2>
                      </header>
              
                      <div>
                            <p>Horario de atención al público:</p>
                            <p>Lunes a viernes, de 09:00 h. a 14:00 h.<p>
                            <p>Para mas informacion, pongase en contacto con nosotros a traves de los siguientes medios:</p>
                      </div>
              
                      <address>
                            <p>Email:
                                <a href="mailto:informacion@ayuntamientodeledesma.com">
                                  <strong>informacion&copy;ayuntamientodeledesma.com</strong>
                                </a>
                            </p>
                            <p>Teléfono: 
                                <a href="tel:+34923570015">
                                  <strong>+34 923 57 00 15</strong>
                                </a>
                            </p>

                            <p>Dirección: 
                                <strong>Pl. Mayor, 1, 37100 Ledesma, Salamanca, España</strong>
                            </p>

                      </address>

              </div>              
              <!--<div>
                <h2>
                  ¿Tienes alguna <span>pregunta</span>?
                </h2>

                <form>
                  <div>
                    <input type="text" placeholder="Nombre">
                  </div>
                  <div>
                    <input type="tel" placeholder="Telefono">
                  </div>
                  <div>
                    <input type="text" placeholder="Asunto">
                  </div>
                  <div>
                    <textarea rows="5" placeholder="Mensaje"></textarea>
                  </div>
                  <button type="submit" role="button">Enviar mensaje</button>
                </form>
              </div>-->
      </div>

  
      <!-- Message Content -->
      <div class="block3">
        
      </div>

      <!-- Copyright -->
      <footer>
              &copy;2024 All rights reserved • Ayuntamiento de Ledesma
      </footer>

</div>

  
  
