<div *ngIf="images && images.length > 0" class="carousel-container">

    <div class="text-container">
        <span class="text">
            Bienvenido a <div style="text-align: center; font-family: Dancing_Script; font-size: 15vw; color: rgb(234, 234, 10);">Ledesma</div>
        </span> 
    </div>

    <img *ngFor="let image of images; let i=index" 
        [src]="image.imageSrc" [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}"
        class="fade"
    >
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" 
            class="dot" 
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)"
        >
        </span>
    </div>

    <button class="btn-carousel btn-prev" (click)="onPrevClick()">
        <!-- LEFT BTN
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
        -->
    </button>

    <button class="btn-carousel btn-next" (click)="onNextClick()">
        <!--RIGHT BTN
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
        -->
    </button>
</div>
